
{% extends 'tienda/layouts/main.html' %}
    
{% block content %}

<div class="py-3 bg-primary">
   <div class="container">
       <a class="text-white" href="{% url 'home' %}">Inicio / </a>
       <a class="text-white" href="{% url 'catalog' %}">Catalogo /</a>
       <a class="text-white" href="{% url 'catalogview' products.category.name %}">{{ products.category.name}} /</a>
       <a class="text-white" href="{% url 'productview' products.category.name products.slug %}">{{ products.name}}</a>
   </div>
</div>

<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card shadow product_data">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="{{ products.product_image.url}}" class="w-100" alt="image">
                            </div>
                            <div class="col-md-8">
                                <h2 class="mb-0">
                                    {{products.name}}
                                </h2>
                                <hr>
                                <label class="me-3">Precio original:  <s> {{products.original_price | stringformat:'d'}} </s> </label>
                                <label class="me-3">Precio oferta: $ {{products.final_price | stringformat:'d' }}</label>
                                <p class="mt-3">
                                    {{products.small_description}}
                                </p>
                                <hr>
                                {% if products.quantity > 0 %}
                                    <label class="badge bg-success">Disponible: {{products.quantity}} unidades</label>
                                {% else %}
                                    <label class="badge bg-danger"> Sin stock </label>
                                {% endif %}
                                <div class="row mt-2">
                                    <label for='Quantity'>Cantidad</label>
                                    <div class="input-group text-center mb-3" style="width: 130px">
                                        <button class="input-group-text decrement-btn">-</button>
                                        <input type="text" name="quantity" class="form-control qty-input text-center" value="1">
                                        <button class="input-group-text increment-btn">+</button>
                                    </div>  
                                </div>
                                <div class="col-md-9">
                                    <br>
                                    {% if products.quantity > 0 %}
                                        <button type="button " class="btn btn-primary me-3 float-start"> Agregar al carro</button>
                                    {% endif %}    
                                        <button type="button" class="btn btn-success me-3 float-start">Agregar a la lista de deseados</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <hr>
                        <h3>Descripcion del producto</h3>
                        <p class="mt-3"> {{ products.description}} </p>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %} %}